@import "../variables.scss";

.header {
  padding: 40px 0;
  background-color: $hard-black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .container {
    @include flex-content-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  &__logo {
    display: flex;
    img {
      margin-right: 15px;
    }
  }
  &__name {
    color: $white;
    h1 {
      letter-spacing: 1%;
      text-transform: uppercase;
      @media (max-width: 414px) {
        font-size: 18px;
      }
    }
  }
  &__cart {
    color: $white;
    span:first-child {
      font-size: 18px;
      @media (max-width: 414px) {
        font-size: 14px;
      }
    }

    button {
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      margin-left: 15px;
      font-size: 12px;
      background-color: $red;
      cursor: pointer;
      border: none;
      span {
        position: absolute;
        width: 24px;
        height: 24px;
        top: -8px;
        right: -8px;
        background: rgb(255, 255, 255);
        border: 1px solid $red;
        border-radius: 50%;
        font-weight: 600;
        color: $red;
        @include flex-content-center;
        align-items: center;
      }
    }
    button:hover {
      svg {
        transform: rotate(90deg);
        transition: transform 0.3s ease-out;
      }
    }
  }
}
