@import "../variables.scss";
.sort {
  position: relative;
  &__label {
    @include flex-items-center;
    margin-right: 40px;
    cursor: pointer;
    b {
      margin-right: 10px;
    }
    span {
      color: $red;
      border-bottom: 1px dashed $red;
      cursor: pointer;
      font-weight: bold;
    }
  }
  &__popup {
    position: absolute;
    right: 40px;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        font-weight: bold;
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $red;
        }
      }
    }
  }
  @media (max-width: 1264px) {
    margin-left: 30px;
  }
  @media (max-width: 414px) {
    font-size: 12px;
  }
}
