@import "../variables.scss";
.types {
  menu {
    display: flex;
    flex-wrap: wrap;
    li {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 13px 30px;
      font-weight: bold;
      border-radius: 30px;
      border: 1px solid rgb(213, 212, 212);
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      &:first-child {
        margin-left: 30px;
      }
      &:hover {
        background-color: darken(#eeeeee, 2%);
      }
      &:active {
        background-color: darken(#f9f9f9, 5%);
      }
      &.active {
        background-color: $hard-black;
        color: $white;
      }
    }
  }
}
