@import "../../scss/variables.scss";

.empty {
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
  h2 {
    margin-bottom: 10px;
    font-size: 32px;
  }
  p {
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0.01em;
    color: $gray;
  }
  img {
    max-width: 300px;
    margin: 45px auto 60px;
    @media (max-width: 935px) {
      width: 220px;
      height: 220px;
    }
    @media (max-width: 640px) {
      width: 140px;
      height: 140px;
    }
  }
  button {
    margin: 0 auto;
  }
}
