@import "./scss/variables.scss";
@import "./scss/fonts.scss";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Proxima Nova", system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}
h3 {
  font-size: 20px;
}
p {
  color: $gray;
}
a {
  color: $white;
  text-decoration: none;
}
